<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>

    <script src="/static/highcharts-dist/highcharts.js"></script>
    <script src="/static/highcharts-dist/modules/exporting.js"></script>
 <!---
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
--->
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
    
</head>
<body>
<h1>SGP30</h1>
SGP30は、TVOCセンサーです。空気品質を測定します。

<p id='msg'>データ読込中です。ちょっと待って下さい</p>
<input type="button" value="グラフの再読込" onclick="makeGraph(['./SensorsData/TVOC/saveSGP30data.csv'])">
<input type="button" value="今日のグラフの読込" onclick="loadOneDay()">
<input id="kalmansw1" type="radio" name="kalmanradiosw"  value="Kalman"  onclick="kalmanSwitch()" >Kalman Filter

<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<!--div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="container4" style="min-width: 310px; height: 400px; margin: 0 auto"></div -->

<p>毎時0分にファイルが更新されます。</p>
Sampling Time <input style="width: 80px;" type="text" id="sampling" value="10" onchange="changeSampling(this.value)" >sec</>
<p id='recog'></p>

</body>
</html>