<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>
<body class="">
    <div class="pagecontent">
        <h1>ITBOX App 説明</h1>
    <div>
    /home/pi/src/ITBOXにソフトウエアが入っています。
    <p>tempController.js</p>
    ペルチェによる温度制御を行うアプリです。start.shで実行できます。デフォルトでは、systemdで自動起動されます。停止したい時は、sudo systemctl stop tempControllerとしてください。停止するまでに少し時間がかかります。
    このアプリは多機能です。内部で、以下のセンサー情報を取得しています。
    <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/servercheck">https://'+location.hostname+':8091/app/servercheck</a>');
    -->
    </script>
    からコントロールできます。

    <p>setTemp.sh</p>
    tempControllerに、設定温度を知らせます。具体的には、home/coder/coder-dist/coder-base/config/saveTempController.txtに、targetTemp 20.0のようにファイルに書くと反映されます。
    <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/tempcontroller">https://'+location.hostname+':8091/app/tempcontroller</a>');
    -->
    </script>
    から温度設定できます。
    <p>BME280.py</p>
    温度、湿度、気圧を測定するセンサーです。ボックス内の温度を測定しています。また、気圧から絶対湿度や露点を計算します。
    BME280.pyが動作するには、sudo pigpiod を実行してください。
<script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/bme280">https://'+location.hostname+':8091/app/bme280</a>');
    -->
</script>
    からセンサー情報を見ることができます。
    <p>DS18B20.py</p>
    ペルチェ表面付近の温度を測定する1-Wire型の温度センサーです。1-Wireは応答に時間がかかります。
<script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/ds18b20">https://'+location.hostname+':8091/app/ds18b20</a>');
    -->
</script>
からセンサー情報を見ることができます。
    <p>TSL2561.py</p>
    照度を測定します。互換のBH1750が搭載されていることがあります。この場合には、/home/pi/src/ITBOX/TSL2561.pyはシンボリックリンクになっています。
<script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/tsl2561">https://'+location.hostname+':8091/app/tsl2561</a>');
    -->
</script>
からセンサー情報を見ることができます。

    <p>peltierCtl.py </p>
    ペルチェ制御を行います。peltierCtl.py  PWM-Power Dir です。PWM-Powerは、０から1000までの整数で、Dirは０なら冷却、１なら暖房になります。
    tempControllerが内部で利用しています。設定したままで忘れたりすると高温になったり、凍結したりして危険なのでブラウザからは使えません。
    <hr>
    
    <p>Coder アプリ</p>
    基本的には、<a href='http://itelepass.itplants.com'>itelepass</a>と同じです。itelepass02がIntel Edisonを使っていたのに対して、ITBOXではRaspberryPi3、または、Raspberry Pi Zeroを使っています。
    アイティプランター１台に対するコントロールだけを行います。
    <p>TempController</p>
            <img src="/static/apps/itbox_/media/tempController.jpg" width=240>
    <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/tempcontroller">https://'+location.hostname+':8091/app/tempcontroller</a>');
    -->
    </script>
    <br>
    ITBOXの温度スケジュールの設定を行います。温度設定時間は、24時間周期となっています。現在の温度から急激に冷やすとペルチェが凍結することがあります。ペルチェが凍結すると冷却ファンが回らなくなり、故障の原因になります。そこで、過冷却が25分続くと、1分間、温めて解凍を行なっています。
    解凍処理の間は、温度が上昇します。室温によっては、設定温度到達までに時間がかかります。
    <p>tempSchedule</p>
            <img src="/static/apps/itbox_/media/tempSchedule.jpg" width=240>
    <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/tempschedule">https://'+location.hostname+':8091/app/tempschedule</a>');
    -->
    </script>
    
        <p>TempController</p>
            <img src="/static/apps/itbox_/media/tempController.jpg" width=240>
  
  <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/longperiodschedule">https://'+location.hostname+':8091/app/longperiodschedule</a>');
    -->
    </script>
    <br>
    24時間を超えて、ITBOXの温度スケジュールの設定を行います。tempScheduleでの設定値は、longPeriodScheduleにより書き換えられます。
    longPeriodScheduleを使わない場合には、
    <p>tempSchedule</p>
            <img src="/static/apps/itbox_/media/tempSchedule.jpg" width=240>
    <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/tempschedule">https://'+location.hostname+':8091/app/tempschedule</a>');
    -->
    </script>
    
    <br>
    ITBOXの温度設定を行います。センサー情報が表示されます。現在の温度から急激に冷やすとペルチェが凍結することがあります。
    ペルチェが凍結すると冷却ファンが回らなくなり、故障の原因になります。そこで、過冷却が25分続くと、1分間、温めて解凍を行なっています。
    解凍処理の間は、温度が上昇します。早く設定温度にするには、保冷パックをアイティプランターの養液にに入れて、予冷して設定温度に近づけてください。
    30分毎に温度設定を行い、補間ボタンを押すと、数分毎に補間されます。
    <p>monitor</p>
                <img src="/static/apps/itbox_/media/monitoring.jpg" width=240>
    <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/monitor">https://'+location.hostname+':8091/app/monitor</a>');
    -->
    </script>
    <br>
    ITBOXのセンサー情報を時系列グラフで表示します。
    <p>BOXstatus</p>
    <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/boxstatus">https://'+location.hostname+':8091/app/boxstatus</a>');
    -->
    </script>
    <br>
    ITBOXの現在の状態を表示します。
    </div>
    <hr>
    ITBOXの扉を開くと、内部温度が急激に変化するのでご注意ください。
    <br>
    <hr>
    <p>PID設定方法</p>
    tempControllerの動作中でも、PIDパラメータを変更できます。<br>
    <img src="/static/apps/itbox_/media/pidsetting.jpg" width=240>
    <script>
    <!---
    document.write('<a href="https://'+location.hostname+':8091/app/pidsetting">https://'+location.hostname+':8091/app/pidsetting</a>');
    -->
    </script>

    saveTempController.txtに、<br>
    setPID Kp 0.1 Ki 0.01 Kd K_d 0.01<br>
    のように、PIDのパラメータを書き込みます。tempScheduleを実行するとsetPIDは消えます。<nr>
    PIDの最適値が決まったら、/home/pi/src/ITBOX/start.sh を書き換えて、<br>
    sudo /home/pi/src/ITBOX/tempController.js $1  -kp P値 -Ki I値 -Kd D値<br>
    とすれば反映されます。<br>
    sudo systemctl restart tempController <br>
    で温度コントローラが再起動します。
    
    
    
    
    
    </div>
    <p><a href="http://knowhow.itplants.com">株式会社アイティプランツ</a>　　2016/12</p>
    お問合せ先<br>
    support@itplants.com<br>
    TEL 080-3835-0260 (担当　坂口）<br>
    
    
</body>
</html>