<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>

    <!-- End Coder Includes -->
    
    <!-- this should go after your </body> -->

    <!-- End apps includes -->

<!--- CSS はここにかく -->
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/static/datetimepicker/jquery.datetimepicker.css"/>
<style type="text/css">
.custom-date-style {
    background-color: red !important;
}
</style>
    
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    
    
    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>

   <!--script src="/static/datetimepicker/jquery.js"></script -->
   <!---- ここにないと動作しない --->   
    <script>
        Coder.addBasicNav();
    </script>
</head>
<body class="">
    <div class="pagecontent">

<center>
<title>株式会社アイティプランツのHP</title>
<body>
<table>
<tr>
<td><a href="http://itelepass.itplants.com"><img src="/static/apps/itplants_home_page/media/itelepass02HomeIcon.jpg"></a></td>
<td><a href="http://knowhow.itplants.com"><img src="/static/apps/itplants_home_page/media/knowhowIcon.jpg"></a></td>
</tr>

<tr>
<td><a href="http://www.cloud-garden.com"><img src="/static/apps/itplants_home_page/media/cloudgardenIcon.jpg"></a></td>
<td><a href="http://blog.itplants.com"><img src="/static/apps/itplants_home_page/media/blogIcon.jpg"></a></td>
</tr>
<tr>
<td><a href="http://www.cloud-garden.com"><center>クラウド・ガーデン</center></a></td>
<td><a href="http://blog.itplants.com"><center>ブログ</center></a></td>
</tr>

<tr>
<td><a href="http://research.itplants.com"><img src="/static/apps/itplants_home_page/media/researchIcon.jpg"></a></p>
<td><a href="http://download.itplants.com"><img src="/static/apps/itplants_home_page/media/downloadIcon.jpg"></a></p>
</tr>
<tr>
<td><a href="http://research.itplants.com"><center>研究</center></a></p>
<td><a href="http://download.itplants.com"><center>ダウンロード</center></a></p>
</tr>

<tr>
<td><a href="http://itplants.theshop.jp"><img src="/static/apps/itplants_home_page/media/itplantsTheShopIcon.jpg"></a></p>
<td><a href="http://naeshop.theshop.jp"><img src="/static/apps/itplants_home_page/media/naeshopIcon.jpg"></a></p>
</tr>
<td><a href="http://itplants.theshop.jp"><center>Base Shop</center></a></p>
<td><a href="http://naeshop.theshop.jp"><center>Base 苗ショップ</center></a></p>
<tr>
</tr>

<tr>
<td><a href="http://sonsumable.theshop.jp"><img src="/static/apps/itplants_home_page/media/sonsumableIcon.jpg"></a></p>
<td><a href="http://www.itplants.com"><img src="/static/apps/itplants_home_page/media/itplantsHPIcon.jpg"></td>
</tr>

<tr>
<td><a href="http://sonsumable.theshop.jp"><center>Base 消耗品ショップ</center></a></td>
<td><a href="www.itplants.com"><center>ブランドページ</center></a></td>
</tr>

</table>


</body>
</html> 