<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>

    <!-- End Coder Includes -->
    
    <!-- this should go after your </body> -->

    <!-- End apps includes -->

<!--- CSS はここにかく -->
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/static/datetimepicker/jquery.datetimepicker.css"/>
<style type="text/css">
.custom-date-style {
    background-color: red !important;
}
</style>
    
    
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    
    
    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>

   <!--script src="/static/datetimepicker/jquery.js"></script -->
   <!---- ここにないと動作しない --->
   <script src="/static/datetimepicker/jquery.datetimepicker.js"></script>   
   <script src="/static/DataTables/media/js/jquery.dataTables.js"></script>
   
   <script src="/static/list.js/dist/list.min.js"></script>   
   <!--script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script -->

    <script>
        Coder.addBasicNav();
    </script>
</head>
<body class="">
    <div class="pagecontent">

<center>

<h1>Temp Schedule</h1>
<hr>

<div id='settings'>
<table name="scheduleTable" id="tableID" class="display" border=0 width=220>
<thead>
  <tr><th >LABEL</th><th>温度設定時刻</th><th>設定温度</th></tr>
</thead>
<tbody class="list">
</tbody>
</table>
</div>
</center>

<center>
PID:  Kp<input style="width: 80px;" type="text" id="kp" value="0.1" onchange="changePID('kp',this.value)" ></>
Ki<input style="width: 80px;" type="text" id="ki" value="0.01" onchange="changePID('ki',this.value)" ></>
Kd<input style="width: 80px;" type="text" id="kd" value="0.01" onchange="changePID('kd',this.value)" ></>
<hr>
<p id='list'></p>
<hr>
<button id='addBtn' onclick="addElements()">追加</button>
<button id='setBtn' onclick="saveElements()">設定</button>
<button id='readBtn' onclick="loadTempSchedule()">現設定読込</button> 
<button id='resetBtn' onclick="getTempTemplate()">リセット</button> 
<button id='setBtn' onclick="interpolateElements()">補間</button>
<input type="text" id='saveFileName' onclick="getTempScheduleName()" value='saveTempSchedule.txt'></input>
<button id='readNBtn' onclick="loadTempSchedule2()">設定の読込</button> 
<button id='saveNBtn' onclick="saveElements2()">設定の保存</button>
<button id='rmNBtn' onclick="fileRemove()">設定の削除</button>
</center>

<script>addElements()</script>
<hr>

<script type="text/javascript" language="javascript">
document.open();
doc = '<a href="https://'+window.location.hostname+':8091/app/longperiodcontrol">長周期設定</a><br>';
document.write(doc);
document.close();
</script>

<br>
/home/coder/coder-dist/coder-base/config/saveTempController.txtの内容を書き換えます。<br>
ファイルの内容は以下の通り。<br>
targetTemp 温度 start 時刻<br>
targetTemp 温度 start 時刻<br>
targetTemp 温度 start 時刻<br>
setPID Kp 比例値 Ki 積分値 Kd 微分値<br>
保存時に、時刻は小さい方から並び替えられます。<br>
リセットすると、設定値のテンプレートが読み込まれます。<br>
補間すると、設定が６倍に補間されます。<br>
設定しないと反映されません。<br>
<hr>
        <!-- p>空調ボックスの温度設定</p>
        <p id='curtmp'>現在の設定温度 : </p>
        <p>温度の設定　：　<input type="text" id='value' name="name" size="3" maxlength="3"onkeyup="setTempValue()"  onclick="setTempValue()">度
        </p -->
    </div>
    <!-- div id='meters'></div -->
    
</body>

</html>