<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/jquery-ui.min.js"></script>

    <!-- script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" -->
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <script src="/static/jquery-shapeshift/core/vendor/jquery.touch-punch.min.js"></script>
    <script src="/static/jquery-shapeshift/core/jquery.shapeshift.js"></script> 
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>
<body class="">
    <div class="pagecontent">
    
  　<div class="container">
  
    <div  id='p0' name='elment'> 
    <p class="pop"><a href="javascript:void(0);">    
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/meters"> ';
        document.write(doc);
</script>

      
    <img src="/static/apps/mymenu/media/MetersIcon.jpg">
    <span class="fukidasipop">センサーのメーター</span></p></a>
    </img></a>
    </div>
    
    
    <div id='p1' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/streamcamera">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/streamCameraIcon.jpg">
    <span class="fukidasipop">ストリームカメラ</span></p></a>
    </img></a></div>
    
    
    <div id='p2' name='elment'>    
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/cultivationprg">';
        document.write(doc);
</script>

<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/cultivationprg">';
        document.write(doc);
</script>
    
    <img src="/static/apps/mymenu/media/cutivationPrgIco.jpg">
    <span class="fukidasipop">栽培プログラム</span></p></a>
    </img></a></div>
    
    <div id='p3' name='elment'>    
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/websendcom">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/webSendComIcon.jpg">
    <span class="fukidasipop">sendCom</span></p></a>
    </img></a></div>
    
    <div id='p4' name='elment'>    
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/highchartscatter">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/highChartScatter.jpg">
    <span class="fukidasipop">分布図</span></p></a>
    </img></a></div>
    

    <div id='p5' name='elment'>    
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/galleryview">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/GaralleyIcon.jpg">
    <span class="fukidasipop">ギャラリー</span></p></a>
    </img></a></div>
    
    <div id='p6' name='elment'>    
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/photoindex">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/photoindex.jpg" >
    <span class="fukidasipop">フォトインデックス</span></p></a>
    </img></a></div>
    
    <div id='p7' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/highchartgraph">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/highChartGraphIcon.jpg">
    <span class="fukidasipop">線グラフ</span></p></a>
    </img></a></div>
    
    <div id='p8' name='elment'>    
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/index">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/indexIcon.jpg">
    <span class="fukidasipop">インデックス</span></p></a>
    </img></a></div>
    
    <div id='p9' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/servercheck">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/checkServerIcon.jpg">
    <span class="fukidasipop">サーバーチェック</span></p></a>
    </img></a></div>

    <div id='p10' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/net_itpmanager">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/net-itpManagerIcon.jpg">
    <span class="fukidasipop">ネット版itpManager</span></p></a>
    </img></a></div>
  
    <div id='p11' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="http://'+window.location.hostname+':9095">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/shellIcon.jpg">
    <span class="fukidasipop">コンソール</span></p></a>
    </img></a></div>
    
    <div id='p12' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/clock">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/clockIcon.jpg">
    <span class="fukidasipop">時計合せ</span></p></a>
    </img></a></div>
    
    <div id='p13' name='elment'>    
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/update">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/updateIcon.jpg">
    <span class="fukidasipop">アップデート</span></p></a>
    </img></a></div>
    
    <div id='p14' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/wifinet">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/wifiNetIcon.jpg">
    <span class="fukidasipop">WiFiへ切替</span></p></a>
    </img></a></div>
    
    <div id='p15' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/ad_hocnet">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/adHocNetIcon.jpg">
    <span class="fukidasipop">Ad-Hocへ切替</span></p></a>
    </img></a></div>
    
    <div id='p16' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/reboot">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/rebootIcon.jpg">
    <span class="fukidasipop">再起動</span></p></a>
    </img></a></div>
    
    <div id='p17' name='elment'>
    <p class="pop"><a href="javascript:void(0);">
<script type="text/javascript" language="javascript">
        doc ='<a href="https://'+window.location.hostname+':8091/app/setwifi">';
        document.write(doc);
</script>
    <img src="/static/apps/mymenu/media/setWiFiIcon.jpg">
    <span class="fukidasipop">WiFi設定</span></p></a>
    </img></a></div>
  </div>
  </p>
  
    </div>
    <button id='saveArrange' onclick="saveArrange()">配置を保存</button> 変更した配置を記録して再現します。
    <hr>
        <p><a href="javascript:history.back();">戻る</a></p>
</body>
</html>