<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>
    <canvas id="animation"></canvas>
<body class="">
    <div class="pagecontent">
       <h1>INDEX</h1>
    <hr>
    <table>
    <tr>
<script type="text/javascript" language="javascript">
document.open();
    doc='<td>coder </td>         <td>    <a href="https://'+location.hostname+':8091">http://'+location.hostname+':8091 PW: Raspberry1</a></td></tr><tr>';
    doc += '<td>coder </td>         <td>    <a href="https://'+location.hostname+':8091/app/mymenu">Mymenu</a></td></tr><tr>';
    doc += '<td>device </td>            <td>    <a href="http://'+location.hostname+':88">http://'+location.hostname+':88</a></td></tr><tr>';
    doc += '<td>mjpeg-streamer</td>  <td>     <a href="http://'+location.hostname+':8080">http://'+location.hostname+':8080</a></td></tr><tr>';
    doc += '<td>tty </td>            <td>	<a href="http://'+location.hostname+':9095/index.html">http://'+location.hostname+':9095</a></td></tr><tr>';
    doc += '<td>itelepass </td>    	<td>	<a href="http://itelepass02.itplants.com">http://itelepass02.itplants.com</a></td></tr><tr>';
    doc += '<td>WiFi設定 </td>        <td>	<a href="https://'+location.hostname+':8091/app/setwifi">最初に行うWiFi設定[setwifi]</a></td></tr>';
document.write(doc);
document.close();
</script>
 
    </table>
    </hr>
    <hr>
    <center>
    <div>copy right <a href="http://www.itplants.com">itplants,ltd.</a> 2015</div>
    
    <div><a href="http://knowhow.itplants.com">Company Information</div>
    <a href="http://blog.itplants.com">Blog</a>
    <a href="http://research.itplants.com">Research</a></div>
    </center>
    <hr>
    導入時に最初にすることは、WiFi接続設定です。CoderのsetWiFiを選んでください。


    </div>
    
    
</body>
</html>