<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <!--
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    -->
    <script src="/static/highcharts-dist/highcharts.js"></script>
    <script src="/static/highcharts-dist/highcharts-more.js"></script>
    <script src="/static/highcharts-dist/modules/solid-gauge.js"></script>
<script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>

<center>BME280 Sensor output</center>
<div style="width: 900px; height: 400px; margin: 0 auto">
    <div id="container-tmp" style="width: 300px; height: 200px; float: left"></div>
    <div id="container-hum" style="width: 300px; height: 200px; float: left"></div>
    <div id="container-press" style="width: 300px; height: 200px; float: left"></div>
</div>
<center>BME280は、温度、湿度、大気圧を測定するセンサーです。</center>
</html>